<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trend Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/trend_analysis.css') }}">
</head>
<body>
<div class="container">
    <div class="container">
        <ul>
            {% for column in columns %}
                <li>{{ column }}</li>
            {% endfor %}
        </ul>

        <h2>Trend Plots:</h2>
        {% if trend_plots %}
            <div class="trend-plots">
                {% for plot in trend_plots %}
                    <div class="plot">
                        <img src="data:image/png;base64,{{ plot }}" alt="Trend Plot">
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No trend plots available.</p>
        {% endif %}

    </div>
    <div class="actions">
        <button class="btn" onclick="window.location.href='/'">Upload Another File</button>
        <button class="btn" onclick="window.location.href='/predictions'">Back to Predictions</button>
    </div>
</div>
</body>
</html>
